@use 'variables';

@use 'mixins';

body {
    background-color: variables.$bacgroundcol;
}

h1 {
    color: variables.$headcolor;
}

h2 {
    color: variables.$headcolor;
}

p {
    color: variables.$headcolor;
}


img {
    @include mixins.imgborder();
}

main {
    @include mixins.imgborder(15px);
}