@use 'variables';

@mixin imgborder ($radius: 5px) {
    border-radius: $radius;
    border: 5px solid black;
}

@mixin jobButton ($br: 50px) {
    border-radius: $br;
    border: 2px solid #F2B279;
    background-color: #F2B279;
    text-decoration: none;
    color: white;
    padding: 5px;
}

@mixin mainFlex ($flxdir: column) {
    display: flex;
    align-items: center;
    flex-direction: $flxdir;
}